dist/category.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Категории</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="category-page">
    <div class="wrap">
      <main>
<header class="header container" id="header">
  <div class="header-wrap">
    <div class="header-logo"><a href="/"><img class="logo" src="images/logo.svg" alt="Riverdale"></a></div>
    <nav class="header-nav">
      <ul>
        <li><a href="/#about-serial">О сериале</a></li>
        <li class="header-nav__season"><a class="text-center" href="/category.html">Сезон</a>
          <div class="header-nav-submenu">
            <ul>
              <li class="header-nav-submenu__item"><a href="/category.html">5 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">4 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">3 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">2 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">1 сезон</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__schedule"><a href="javascript:void(0);">Расписание</a>
          <div class="header-nav-submenu">
            <ul>
              <li class="header-nav-submenu__item header-nav-submenu__item_active">
                <div><span>cледующая: <br> 4 сезон 3 серия</span><span>30 января</span></div>
              </li>
              <li class="header-nav-submenu__item">
                <div><span>4 сезон 2 серия</span><span>23 января</span></div>
              </li>
              <li class="header-nav-submenu__item">
                <div><span>4 сезон 1 серия</span><span>16 января</span></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="header-timer">
      <div class="header-timer__title">до новой серии:</div>
      <div class="header-timer-wrap">
        <div class="header-timer-item">
          <div class="header-timer__count"><span>0</span><span>5</span></div><span>дней</span>
        </div>
        <div class="header-timer-item">
          <div class="header-timer__count"><span>2</span><span>3</span></div><span>часов</span>
        </div>
      </div>
    </div>
  </div>
</header>
        <div class="m-header-bar container">
          <div class="m-header-bar-wrap">
            <nav class="m-header-bar-nav">
              <ul>
                <li><a href="/"> <i class="icon-home"></i><span>Главная</span></a></li>
                <li><a href="javascript:void(0);" data-roll-open="schedule"> <i class="icon-calendar"></i><span>Расписание</span></a></li>
                <li><a href="/#about-serial"> <i class="icon-info"></i><span>О сериале</span></a></li>
                <li><a href="javascript:void(0);" data-roll-open="select-season"> <i class="icon-count"></i><span>Сезон</span></a></li>
              </ul>
            </nav>
            <div class="header-timer">
              <div class="header-timer__title">до следующей:</div>
              <div class="header-timer-wrap">
                <div class="header-timer-item">
                  <div class="header-timer__count"><span>0</span><span>5</span></div><span>дней</span>
                </div>
                <div class="header-timer-item">
                  <div class="header-timer__count"><span>2</span><span>3</span></div><span>часов</span>
                </div>
              </div>
            </div>
          </div>
        </div>
                <div class="roll roll_direction_to-top" id="schedule">
                  <div class="roll__container">
                    <header class="roll__header">
                      <div class="roll-logo"><img class="logo" src="images/logo.svg" alt="Riverdale"></div>
                      <div class="roll__title">
                        <h1>Расписание</h1>
                        <button class="roll__close"><i class="icon-close"></i></button>
                      </div>
                    </header>
                    <div class="roll__content">
<div class="roll-mobile roll-mobile-schedule">
  <ul>
    <li class="roll-mobile-schedule__item">
      <div><span>cледующая: <br> 4 сезон 1 серия</span><span>16 января</span></div>
    </li>
    <li class="roll-mobile-schedule__item">
      <div><span>4 сезон 2 серия</span><span>23 января</span></div>
    </li>
    <li class="roll-mobile-schedule__item">
      <div><span>4 сезон 3 серия</span><span>30 января</span></div>
    </li>
  </ul>
</div>
                    </div>
                  </div>
                </div>
                <div class="roll roll_direction_to-top" id="select-season">
                  <div class="roll__container">
                    <header class="roll__header">
                      <div class="roll-logo"><img class="logo" src="images/logo.svg" alt="Riverdale"></div>
                      <div class="roll__title">
                        <h1>Выбор сезона</h1>
                        <button class="roll__close"><i class="icon-close"></i></button>
                      </div>
                    </header>
                    <div class="roll__content">
<div class="roll-mobile roll-mobile-season">
  <ul>
    <li> <a href="/category.html">1 сезон</a></li>
    <li> <a href="/category.html">2 сезон</a></li>
    <li> <a href="/category.html">3 сезон</a></li>
    <li> <a href="/category.html">4 сезон</a></li>
    <li> <a href="/category.html">5 сезон</a></li>
    <li> <a href="/category.html">6 сезон</a></li>
    <li> <a href="/category.html">7 сезон</a></li>
    <li> <a href="/category.html">8 сезон</a></li>
    <li> <a href="/category.html">9 сезон</a></li>
    <li> <a href="/category.html">10 сезон</a></li>
    <li> <a href="/category.html">9 сезон</a></li>
    <li> <a href="/category.html">8 сезон</a></li>
    <li> <a href="/category.html">7 сезон</a></li>
    <li> <a href="/category.html">6 сезон</a></li>
    <li> <a href="/category.html">5 сезон</a></li>
    <li> <a href="/category.html">4 сезон</a></li>
    <li> <a href="/category.html">3 сезон</a></li>
    <li> <a href="/category.html">2 сезон</a></li>
    <li> <a href="/category.html">1 сезон</a></li>
  </ul>
</div>
                    </div>
                  </div>
                </div>
        <div class="content">
          <div class="container">
            <div class="page-title">
              <h1>Мультсериал Звёздные войны: Войны клонов 3 сезон смотреть онлайн</h1>
            </div>
<nav class="pagination swiper-container">
  <div class="pagination__elements swiper-wrapper">
    <div class="pagination__item swiper-slide checked"> <a href="javascript:void(0);">1</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">2</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">3</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">4</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">5</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">6</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">7</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">8</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">9</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">10</a></div>
    <div class="pagination__item swiper-slide"> <a href="javascript:void(0);">11</a></div>
  </div>
</nav>
            <div class="catalog">
              <button class="button button_type_transparent button_color_gray button_full_width catalog__button-sort"><i class="icon-sort"></i><span>Cортировать</span></button>
              <ul class="catalog-list">
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-11.jpg" alt="3 сезон 11 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__preview-label">Превью</div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 11 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-10.jpg" alt="3 сезон 10 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 10 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-9.jpg" alt="3 сезон 9 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 9 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-8.jpg" alt="3 сезон 8 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 8 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-7.jpg" alt="3 сезон 7 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 7 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-6.jpg" alt="3 сезон 6 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 6 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-5.jpg" alt="3 сезон 5 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 5 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-4.jpg" alt="3 сезон 4 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 4 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-3.jpg" alt="3 сезон 3 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 3 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-2.jpg" alt="3 сезон 2 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 2 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
                                <li class="catalog-full-item"><a href="/episode.html">
                                    <div class="catalog-full-item__img"><img src="./images/category/3-1.jpg" alt="3 сезон 1 серия"><i class="icon-play"></i></div>
                                    <div class="catalog-full-item__header">
                                      <h4 class="catalog-full-item__title">3 сезон 1 серия</h4><span class="catalog-full-item__caption">«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»</span>
                                    </div>
                                    <div class="catalog-full-item__text">
                                      <p class="catalog-full-item__description">Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...</p>
                                    </div></a></li>
              </ul>
            </div>
            <div class="category-slider">
              <div class="category-slider-info">
                <div class="category-slider-info__title">
                  <h1>Звёздные войны: Войны клонов 3 сезон</h1><span class="caption-18">12 ноября 2019 • 8 серий </span>
                </div>
              </div>
              <div class="category-slider-carousel">
                <div class="custom-slider-container" id="preview-slider">
                  <button class="custom-slider__button-prev button-arrow button-arrow_dir_prev icon-chevron-left"></button>
                  <div class="custom-slider__wrapper">
                    <div class="custom-slider__slide"><img src="./images/custom-slider__slide-1.jpg" alt=""></div>
                    <div class="custom-slider__slide"><img src="./images/custom-slider__slide-2.jpg" alt=""></div>
                    <div class="custom-slider__slide"><img src="./images/custom-slider__slide-3.jpg" alt=""></div>
                  </div>
                  <button class="custom-slider__button-next button-arrow button-arrow_dir_next icon-chevron-right"></button>
                </div>
                                <div class="modal" id="modal-gallery">
                                  <div class="modal-container modal_type_gallery">
                                    <div class="modal-content">
                                      <div class="swiper-container">
                                        <div class="swiper-wrapper"></div>
                                        <button class="swiper-button-prev button-arrow button-arrow_dir_prev icon-chevron-left"></button>
                                        <button class="swiper-button-next button-arrow button-arrow_dir_next icon-chevron-right"></button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
              </div>
            </div>
            <div class="category-serial-info"><a class="category-serial-info-trailer" href="javascript:void(0);">
                <div class="category-serial-info-trailer__image"><img src="./images/trailer.jpg" alt="Трейлер сезона"></div><i class="icon-play"></i><span class="h3">трейлер</span></a>
              <button class="button button_type_transparent button_full_width category-serial-info__trailer-button" data-modal-open="modal-trailer">Трейлер</button>
                            <div class="modal" id="modal-trailer">
                              <div class="modal-container modal_type_video">
                                <div class="modal-content">
                                  <iframe src="http://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" width="100%" height="100%"></iframe>
                                </div>
                              </div>
                            </div>
              <div class="category-serial-info__text">
                <h3>Информация о сериале</h3>
                <p>
                   Небольшой городок, расположенный в глубинке Соединенных Штатов, до недавнего времени считался безопасным местом. Здесь редко происходят 
                  зверские прсетупления, поэтому обсуждать местному населению приходится только школьные вечера и покупки соседей. Однажды беззаботная жизнь 
                  провинции превращается в кошмар, когда происходит убийство старшеклассника. Четверка друзей старается провести независимое расследование и 
                  попытки разузнать имя преступника поднимают на поверхность правду, находящуюся много лет под запретом. Сериал Ривердейл 4 сезон смотреть онлайн 
                  будет довольно интересно, ведь Бетти, Арчи, Вероника и Джагхэд бесконечно попадают в сложные ситуации.
                </p>
                <p>
                   После очередных летних каникул ребят ждет заключительный год обучения в школе. Каждому из друзей предстоит определиться с планами на дальнейшее 
                  будущее. Арчи хочет примирения с Вероникой, хотя девушка отказывается строить серьезные отношения с бывшим парнем. Внезапная новость о близком 
                  родственнике отвлекает от любовных волнений героя и заставляет выпускника изменить планы. Тем временем двое жителей Riverdaile Бетти и Джагхэд 
                  наслаждаются приобретенным счастьем, хотя окружающие не одобряют образовавшуюся пару и на это имеются особенные причины.
                </p>
                <p>
                   Недавно друзьям удалось противостоять трудностям и доказать невиновность Арчи. Парнишка получает шанс вернуться домой и отправиться в учебное 
                  заведение вместе с остальными одноклассниками. Госпожа Судьба решает вновь испробовать крепкую компанию на прочность и подбрасывает героям «Ривердейл» 
                  четвертый сезон новые испытания. Внезапно для всех Джагхэд необъяснимым образом исчезает. Полиция отказывается приступать к поискам, пока не пройдет 
                  трое суток, считая, что подросток поругался с родными и решил исчезновением их проучить. Элизабетт удается организовать поиски и начать собственное 
                  расследование о причинах пропажи школьника, но ее любопытство открывает очередную тайну и жизнь мисс Купер новь в опасности. Чем же завершится история 
                  Джонса и какие проблемы ожидают героев, покажет четвертый сезон, который доступен в хорошем качестве.
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
            <nav class="breadcrumbs">
              <div class="container">
                <ul> 
                  <li><a href="/">Riverdale.com</a></li>
                  <li><span>3 сезон</span>
                  </li>
                </ul>
              </div>
            </nav>
<footer class="footer">
  <div class="footer-wrap container">
    <div class="footer__copiright">© 2020 Riverdale.com</div>
    <div class="footer__email">
       Контакты: <a href="javascript:void(0);">test@testmail.com</a></div>
  </div>
</footer>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/category.pug
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Категории
	body.category-page
		.wrap
			main
				include includes/header.pug
				include includes/header-mobile.pug

				.content
					.container
						.page-title
							h1 Мультсериал Звёздные войны: Войны клонов 3 сезон смотреть онлайн

						include includes/pagination.pug

						.catalog
							button.button.button_type_transparent.button_color_gray.button_full_width.catalog__button-sort
								i.icon-sort
								span Cортировать

							ul.catalog-list
								include mixins/category-item.pug
								each episode, index in [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
									+category-item(
										"./images/category/3-" + episode + ".jpg",
										"3 сезон " + episode + " серия",
										"«Глава пятьдесят шестая. Тёмный секрет Дома Жатвы»",
										"Наёмник пытается найти свой путь добычи денег, но каждый из них несёт опасность. Неожиданно мандалорцу, потерявшему ...",
										!index
									)

						.category-slider
							.category-slider-info
								.category-slider-info__title
									h1 Звёздные войны: Войны клонов 3 сезон
									span.caption-18 12 ноября 2019 • 8 серий 
							.category-slider-carousel
								include includes/slider.pug

						.category-serial-info
							a.category-serial-info-trailer(href="javascript:void(0);")
								.category-serial-info-trailer__image
									img(src="./images/trailer.jpg" alt="Трейлер сезона")
								i.icon-play
								span.h3 трейлер
							button.button.button_type_transparent.button_full_width.category-serial-info__trailer-button(data-modal-open="modal-trailer") Трейлер
							include mixins/modal.pug
							+modal("modal-trailer", "video")
								iframe(src="http://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" width="100%" height="100%")

							.category-serial-info__text
								h3 Информация о сериале
								p 
									| Небольшой городок, расположенный в глубинке Соединенных Штатов, до недавнего времени считался безопасным местом. Здесь редко происходят 
									| зверские прсетупления, поэтому обсуждать местному населению приходится только школьные вечера и покупки соседей. Однажды беззаботная жизнь 
									| провинции превращается в кошмар, когда происходит убийство старшеклассника. Четверка друзей старается провести независимое расследование и 
									| попытки разузнать имя преступника поднимают на поверхность правду, находящуюся много лет под запретом. Сериал Ривердейл 4 сезон смотреть онлайн 
									| будет довольно интересно, ведь Бетти, Арчи, Вероника и Джагхэд бесконечно попадают в сложные ситуации.
								p 
									| После очередных летних каникул ребят ждет заключительный год обучения в школе. Каждому из друзей предстоит определиться с планами на дальнейшее 
									| будущее. Арчи хочет примирения с Вероникой, хотя девушка отказывается строить серьезные отношения с бывшим парнем. Внезапная новость о близком 
									| родственнике отвлекает от любовных волнений героя и заставляет выпускника изменить планы. Тем временем двое жителей Riverdaile Бетти и Джагхэд 
									| наслаждаются приобретенным счастьем, хотя окружающие не одобряют образовавшуюся пару и на это имеются особенные причины.
								p 
									| Недавно друзьям удалось противостоять трудностям и доказать невиновность Арчи. Парнишка получает шанс вернуться домой и отправиться в учебное 
									| заведение вместе с остальными одноклассниками. Госпожа Судьба решает вновь испробовать крепкую компанию на прочность и подбрасывает героям «Ривердейл» 
									| четвертый сезон новые испытания. Внезапно для всех Джагхэд необъяснимым образом исчезает. Полиция отказывается приступать к поискам, пока не пройдет 
									| трое суток, считая, что подросток поругался с родными и решил исчезновением их проучить. Элизабетт удается организовать поиски и начать собственное 
									| расследование о причинах пропажи школьника, но ее любопытство открывает очередную тайну и жизнь мисс Купер новь в опасности. Чем же завершится история 
									| Джонса и какие проблемы ожидают героев, покажет четвертый сезон, который доступен в хорошем качестве.

			include mixins/breadcrumbs.pug
			+breadcrumbs(['3 сезон'])

			include includes/footer.pug
