dist/episode.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Эпизод</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="episode-page">
    <div class="wrap">
      <main>
<header class="header container" id="header">
  <div class="header-wrap">
    <div class="header-logo"><a href="/"><img class="logo" src="images/logo.svg" alt="Riverdale"></a></div>
    <nav class="header-nav">
      <ul>
        <li><a href="/#about-serial">О сериале</a></li>
        <li class="header-nav__season"><a class="text-center" href="/category.html">Сезон</a>
          <div class="header-nav-submenu">
            <ul>
              <li class="header-nav-submenu__item"><a href="/category.html">5 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">4 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">3 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">2 сезон</a></li>
              <li class="header-nav-submenu__item"><a href="/category.html">1 сезон</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__schedule"><a href="javascript:void(0);">Расписание</a>
          <div class="header-nav-submenu">
            <ul>
              <li class="header-nav-submenu__item header-nav-submenu__item_active">
                <div><span>cледующая: <br> 4 сезон 3 серия</span><span>30 января</span></div>
              </li>
              <li class="header-nav-submenu__item">
                <div><span>4 сезон 2 серия</span><span>23 января</span></div>
              </li>
              <li class="header-nav-submenu__item">
                <div><span>4 сезон 1 серия</span><span>16 января</span></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="header-timer">
      <div class="header-timer__title">до новой серии:</div>
      <div class="header-timer-wrap">
        <div class="header-timer-item">
          <div class="header-timer__count"><span>0</span><span>5</span></div><span>дней</span>
        </div>
        <div class="header-timer-item">
          <div class="header-timer__count"><span>2</span><span>3</span></div><span>часов</span>
        </div>
      </div>
    </div>
  </div>
</header>
        <div class="m-header-bar container">
          <div class="m-header-bar-wrap">
            <nav class="m-header-bar-nav">
              <ul>
                <li><a href="/"> <i class="icon-home"></i><span>Главная</span></a></li>
                <li><a href="javascript:void(0);" data-roll-open="schedule"> <i class="icon-calendar"></i><span>Расписание</span></a></li>
                <li><a href="/#about-serial"> <i class="icon-info"></i><span>О сериале</span></a></li>
                <li><a href="javascript:void(0);" data-roll-open="select-season"> <i class="icon-count"></i><span>Сезон</span></a></li>
              </ul>
            </nav>
            <div class="header-timer">
              <div class="header-timer__title">до следующей:</div>
              <div class="header-timer-wrap">
                <div class="header-timer-item">
                  <div class="header-timer__count"><span>0</span><span>5</span></div><span>дней</span>
                </div>
                <div class="header-timer-item">
                  <div class="header-timer__count"><span>2</span><span>3</span></div><span>часов</span>
                </div>
              </div>
            </div>
          </div>
        </div>
                <div class="roll roll_direction_to-top" id="schedule">
                  <div class="roll__container">
                    <header class="roll__header">
                      <div class="roll-logo"><img class="logo" src="images/logo.svg" alt="Riverdale"></div>
                      <div class="roll__title">
                        <h1>Расписание</h1>
                        <button class="roll__close"><i class="icon-close"></i></button>
                      </div>
                    </header>
                    <div class="roll__content">
<div class="roll-mobile roll-mobile-schedule">
  <ul>
    <li class="roll-mobile-schedule__item">
      <div><span>cледующая: <br> 4 сезон 1 серия</span><span>16 января</span></div>
    </li>
    <li class="roll-mobile-schedule__item">
      <div><span>4 сезон 2 серия</span><span>23 января</span></div>
    </li>
    <li class="roll-mobile-schedule__item">
      <div><span>4 сезон 3 серия</span><span>30 января</span></div>
    </li>
  </ul>
</div>
                    </div>
                  </div>
                </div>
                <div class="roll roll_direction_to-top" id="select-season">
                  <div class="roll__container">
                    <header class="roll__header">
                      <div class="roll-logo"><img class="logo" src="images/logo.svg" alt="Riverdale"></div>
                      <div class="roll__title">
                        <h1>Выбор сезона</h1>
                        <button class="roll__close"><i class="icon-close"></i></button>
                      </div>
                    </header>
                    <div class="roll__content">
<div class="roll-mobile roll-mobile-season">
  <ul>
    <li> <a href="/category.html">1 сезон</a></li>
    <li> <a href="/category.html">2 сезон</a></li>
    <li> <a href="/category.html">3 сезон</a></li>
    <li> <a href="/category.html">4 сезон</a></li>
    <li> <a href="/category.html">5 сезон</a></li>
    <li> <a href="/category.html">6 сезон</a></li>
    <li> <a href="/category.html">7 сезон</a></li>
    <li> <a href="/category.html">8 сезон</a></li>
    <li> <a href="/category.html">9 сезон</a></li>
    <li> <a href="/category.html">10 сезон</a></li>
    <li> <a href="/category.html">9 сезон</a></li>
    <li> <a href="/category.html">8 сезон</a></li>
    <li> <a href="/category.html">7 сезон</a></li>
    <li> <a href="/category.html">6 сезон</a></li>
    <li> <a href="/category.html">5 сезон</a></li>
    <li> <a href="/category.html">4 сезон</a></li>
    <li> <a href="/category.html">3 сезон</a></li>
    <li> <a href="/category.html">2 сезон</a></li>
    <li> <a href="/category.html">1 сезон</a></li>
  </ul>
</div>
                    </div>
                  </div>
                </div>
        <div class="content">
          <div class="container">
            <div class="page-title">
              <h1>Звёздные войны: Войны клонов 4 сезон 9 серия смотреть онлайн</h1>
              <button class="content-edit icon-edit" style="display:none;"></button>
            </div>
            <div class="tabs episode-sounds">
              <div class="tabs-list swiper-container" role="tablist">
                <div class="tabs-list__slides swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="tabs-list__item tabs-list__item_active" role="tab"><a href="#lostfilm">LostFilm </a></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="tabs-list__item" role="tab"><a href="#coldfilm">ColdFilm</a></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="tabs-list__item" role="tab"><a href="#kerobtv">KerobTV</a></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="tabs-list__item" role="tab"><a href="#original">Английская озвучка</a></div>
                  </div>
                </div>
              </div>
              <div class="tabs-content">
                <div class="tabs-content-wrap tabs-content-wrap_active" id="lostfilm">
<div class="player">
  <div class="player-wrap">
    <div class="iframe"></div>
    <div class="player__episode-release">дата выхода серии: 12 марта 2020</div>
  </div>
  <nav class="player-nav"><a class="player-nav__prev" href="/episode.html"><i class="icon-prev"></i>предыдущая</a><a class="player-nav__all-episodes" href="/category.html"><i class="icon-all-series"></i>все серии</a><a class="player-nav__next" href="/episode.html">следующая<i class="icon-next"></i></a></nav>
</div>
                </div>
                <div class="tabs-content-wrap" id="coldfilm">
<div class="player">
  <div class="player-wrap">
    <div class="iframe"></div>
    <div class="player__episode-release">дата выхода серии: 12 марта 2020</div>
  </div>
  <nav class="player-nav"><a class="player-nav__prev" href="/episode.html"><i class="icon-prev"></i>предыдущая</a><a class="player-nav__all-episodes" href="/category.html"><i class="icon-all-series"></i>все серии</a><a class="player-nav__next" href="/episode.html">следующая<i class="icon-next"></i></a></nav>
</div>
                </div>
                <div class="tabs-content-wrap" id="kerobtv">
<div class="player">
  <div class="player-wrap">
    <div class="iframe"></div>
    <div class="player__episode-release">дата выхода серии: 12 марта 2020</div>
  </div>
  <nav class="player-nav"><a class="player-nav__prev" href="/episode.html"><i class="icon-prev"></i>предыдущая</a><a class="player-nav__all-episodes" href="/category.html"><i class="icon-all-series"></i>все серии</a><a class="player-nav__next" href="/episode.html">следующая<i class="icon-next"></i></a></nav>
</div>
                </div>
                <div class="tabs-content-wrap" id="original">
<div class="player">
  <div class="player-wrap">
    <div class="iframe"></div>
    <div class="player__episode-release">дата выхода серии: 12 марта 2020</div>
  </div>
  <nav class="player-nav"><a class="player-nav__prev" href="/episode.html"><i class="icon-prev"></i>предыдущая</a><a class="player-nav__all-episodes" href="/category.html"><i class="icon-all-series"></i>все серии</a><a class="player-nav__next" href="/episode.html">следующая<i class="icon-next"></i></a></nav>
</div>
                </div>
              </div>
            </div>
            <div class="episode-info">
<div class="rating">
  <div class="rating__title">Рейтинг:</div>
  <div class="rating-wrap">
    <div class="rating__star rating__star_checked"><a href="javascript:void(0);"><i class="icon-star"></i></a></div>
    <div class="rating__star"><a href="javascript:void(0);"><i class="icon-star"></i></a></div>
    <div class="rating__star"><a href="javascript:void(0);"><i class="icon-star"></i></a></div>
    <div class="rating__star"><a href="javascript:void(0);"><i class="icon-star"></i></a></div>
    <div class="rating__star"><a href="javascript:void(0);"><i class="icon-star"></i></a></div>
  </div>
</div>
              <div class="episode-info-header">
                <h2 class="episode-info-header__title">Описание Леденящие душу приключения Сабрины 4&nbsp;сезон 9&nbsp;серия</h2>
              </div>
              <div class="episode-info__characteristics"><span>«Глава 66: Мандарин» / «Chapter Sixty-six: Tangerine»</span><span>Дата выхода: 12 декабря 2019</span><span>Продолжительность: 42 мин</span></div>
              <div class="episode-info__description">
                <p>
                   The Mandalorian поднимает и раскрывает очень важные социальные, личностные и этические проблемы через 
                  историю одинокого воина, имеющего за спиной огромный опыт побед и поражений, как и на поле боя, так и 
                  с самим собой. Герой является представителем расы благородных и смелых воинов, некогда установившим власть 
                  на определённой территории. Сейчас мандалорец ищет свой собственный путь на задворках галактики после крушения 
                  Империи. До этих мест ещё не добралась новая власть, и в обществе царит хаос и беспорядок. Мвндалорец 
                  вынужден проживать век в нищете среди отбросов общества, постоянно отстаивая и себя и свои ценности. 
                  Однажды слухи о молодом и отважном воине доходят до главы 
                </p>
              </div>
            </div>
            <div class="episode-slider">
              <div class="episode-slider-info">
                <div class="episode-slider-info__title">
                  <h2>Кадры/превью к серии</h2><span class="caption-18">4 сезон 9 серия </span>
                </div>
              </div>
              <div class="episode-slider-carousel">
                <div class="custom-slider-container" id="preview-slider">
                  <button class="custom-slider__button-prev button-arrow button-arrow_dir_prev icon-chevron-left"></button>
                  <div class="custom-slider__wrapper">
                    <div class="custom-slider__slide"><img src="./images/custom-slider__slide-1.jpg" alt=""></div>
                    <div class="custom-slider__slide"><img src="./images/custom-slider__slide-2.jpg" alt=""></div>
                    <div class="custom-slider__slide"><img src="./images/custom-slider__slide-3.jpg" alt=""></div>
                  </div>
                  <button class="custom-slider__button-next button-arrow button-arrow_dir_next icon-chevron-right"></button>
                </div>
                                <div class="modal" id="modal-gallery">
                                  <div class="modal-container modal_type_gallery">
                                    <div class="modal-content">
                                      <div class="swiper-container">
                                        <div class="swiper-wrapper"></div>
                                        <button class="swiper-button-prev button-arrow button-arrow_dir_prev icon-chevron-left"></button>
                                        <button class="swiper-button-next button-arrow button-arrow_dir_next icon-chevron-right"></button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
            <nav class="breadcrumbs">
              <div class="container">
                <ul> 
                  <li><a href="/">Riverdale.com</a></li>
                  <li><a href="/">3 сезон</a>
                  </li>
                  <li><span>Ривердейл 3 сезон 21 серия смотреть онлайн!</span>
                  </li>
                </ul>
              </div>
            </nav>
<footer class="footer">
  <div class="footer-wrap container">
    <div class="footer__copiright">© 2020 Riverdale.com</div>
    <div class="footer__email">
       Контакты: <a href="javascript:void(0);">test@testmail.com</a></div>
  </div>
</footer>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/episode.pug
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Эпизод
	body.episode-page
		.wrap
			main
				include includes/header.pug
				include includes/header-mobile.pug

				.content
					.container
						.page-title
							h1 Звёздные войны: Войны клонов 4 сезон 9 серия смотреть онлайн
							button.content-edit.icon-edit(style="display:none;")

						.tabs.episode-sounds
							.tabs-list.swiper-container(role="tablist")
								.tabs-list__slides.swiper-wrapper
									.swiper-slide
										.tabs-list__item.tabs-list__item_active(role="tab")
											a(href="#lostfilm") LostFilm 
									.swiper-slide
										.tabs-list__item(role="tab")
											a(href="#coldfilm") ColdFilm
									.swiper-slide
										.tabs-list__item(role="tab")
											a(href="#kerobtv") KerobTV
									.swiper-slide
										.tabs-list__item(role="tab")
											a(href="#original") Английская озвучка
							.tabs-content
								#lostfilm.tabs-content-wrap.tabs-content-wrap_active
									include includes/player.pug
								#coldfilm.tabs-content-wrap
									include includes/player.pug
								#kerobtv.tabs-content-wrap
									include includes/player.pug
								#original.tabs-content-wrap
									include includes/player.pug

						.episode-info
							include includes/rating.pug

							.episode-info-header
								h2.episode-info-header__title Описание Леденящие душу приключения Сабрины 4&nbsp;сезон 9&nbsp;серия

							.episode-info__characteristics
								span «Глава 66: Мандарин» / «Chapter Sixty-six: Tangerine»
								span Дата выхода: 12 декабря 2019
								span Продолжительность: 42 мин

							.episode-info__description
								p 
									| The Mandalorian поднимает и раскрывает очень важные социальные, личностные и этические проблемы через 
									| историю одинокого воина, имеющего за спиной огромный опыт побед и поражений, как и на поле боя, так и 
									| с самим собой. Герой является представителем расы благородных и смелых воинов, некогда установившим власть 
									| на определённой территории. Сейчас мандалорец ищет свой собственный путь на задворках галактики после крушения 
									| Империи. До этих мест ещё не добралась новая власть, и в обществе царит хаос и беспорядок. Мвндалорец 
									| вынужден проживать век в нищете среди отбросов общества, постоянно отстаивая и себя и свои ценности. 
									| Однажды слухи о молодом и отважном воине доходят до главы 

						.episode-slider
							.episode-slider-info
								.episode-slider-info__title
									h2 Кадры/превью к серии
									span.caption-18 4 сезон 9 серия 
							.episode-slider-carousel
								include includes/slider.pug

			include mixins/breadcrumbs.pug
			+breadcrumbs(['3 сезон', 'Ривердейл 3 сезон 21 серия смотреть онлайн!'])

			include includes/footer.pug
